.wrapper {
   width: 100%;
   font-family: 'Roboto', sans-serif;
   color: #000000;
   font-style: normal;
   font-weight: normal;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
}

/* header */
header {
   background: #A7E1FF;
   width: 100%;
   height: max-content;
}

.header {
   width: 1160px;
   height: 80px;
   display: flex;
   flex-direction: row;
   align-items: center;
   margin: 0 auto;
}

.header-logo {
   width: 112px;
   height: 57px;
   margin-right: 57px;
}

.burger {
   display: none;
}

.hidden {
   display: none;
}

.nav_ul {
   width: 409px;
   height: 21px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.nav_ul_li__item {
   font-weight: 500;
   font-size: 18px;
   line-height: 21px;
   color: #000000;
   transition: all 0.5s ease;
}

.nav_ul_li__item:hover {
   color: #70CB0E;
   transition: all 0.5s ease;
}

.nav_ul_li__item_active {
   font-weight: 900;
   -webkit-text-stroke: 0.6px #70CB0E;
}
/* END header */

/* map */
main {
   display: flex;
   width: 100%;
   height: 945px;
   background: #A7E1FF;
   font-size: 16px;
   line-height: 19px;
}

.wrapper__zoom {
   position: absolute;
   right: 20px;
   top: 846px;
}

.zoom {
   width: 30px;
   height: 80px;
   z-index: 2;
   bottom: 380px;
   right: 20px;
   background-color: #000000;
   border-radius: 5px;
   overflow: hidden;
   filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
}

.minus {
   background-color: #ffffff;
   height: 39.5px;
   width: 100%;
   cursor: pointer;
   background-repeat: no-repeat;
   background-size: 12px;
   background-position: center;
   background-image: url(../../assets/icons/zoom-minus.svg);
   margin-bottom: 1px;
}

.plus {
   background-color: #ffffff;
   height: 39.5px;
   width: 100%;
   cursor: pointer;
   background-repeat: no-repeat;
   background-size: 12px;
   background-position: center;
   background-image: url(../../assets/icons/zoom-plus.svg);
}

.map {
   width: max-content;
   position: relative;
   margin: 0 auto;
}

.world-map {
   margin-top: 100px;
}

.animal-on-map {
   position: absolute;
}

.tooltiptext {
   visibility: hidden;
   width: 102px;
   background-color: #70CB0E;
   text-align: center;
   padding: 8px 4px;
   position: absolute;
   z-index: 1;
   top: 10px;
   left: 110%;
}

.tooltiptext::after {
   content: "";
   position: absolute;
   top: 50%;
   right: 100%;
   margin-top: -5px;
   border-width: 5px;
   border-style: solid;
   border-color: transparent #70CB0E transparent transparent;
}

.btn-tooltip-watch {
   display: none;
}

.animal-on-map:hover .tooltiptext {
   visibility: visible;
}

.animal-on-map img {
   border-radius: 50%;
   border: 2px solid #ffffff;
}

.animal-on-map img:hover {
   border: 4px solid #70CB0E;
}

.name-country {
   font-style: normal;
   font-weight: normal;
   position: absolute;
}

.USA {
   top: 478px;
   left: 201px;
}

.DRC {
   top: 627px;
   left: 511px;
   width: 61px;
   text-align: center;
}

.China {
   top: 491px;
   left: 833px;
}

.eagle {
   top: 496px;
   left: 77px;
}

.allig {
   top: 504px;
   left: 298px;
}

.gorilla {
   top: 605px;
   left: 655px;
}

.panda {
   top: 509px;
   left: 922px;
}
/* END map */

/* footer */
footer {
   width: 100%;
   height: 270px;
   background: #DFF5B0;
   display: flex;
   justify-content: center;
   position: relative;
}

.footer {
   width: 1160px;
   padding: 80px 0 20px;
   z-index: 1;
   font-size: 18px;
   line-height: 21px;
   margin: 0 auto;
}

.footer-desert {
   width: 100%;
   height: 100%;
   position: absolute;
   top: -36px;
   left: -10px;
   background: url(../../assets/images/footer-desert.png);
   background-repeat: no-repeat;
   background-position: center;
}

.footer-desert-640 {
   display: none;
}

.footer-top {
   height: 57px;
   display: flex;
   flex-direction: row;
}

.logo-footer {
   margin-right: 100px;
   width: 98px;
   height: 50px;
}

.btn-donate {
   width: 230px;
   height: 50px;
   background: #70CB0E;
   border-radius: 30px;
   transition: all 0.5s ease;
   margin-right: 162px;
   display: flex;
   justify-content: center;
   align-items: center;
   color: #000000;;
}

.btn-donate:hover {
   background: #90f128;
   transition: all 0.5s ease;
}

.nav-footer {
   width: 256px;
   height: 100%;
   margin-right: 123.35px;
}

.nav-footer-list {
   height: 100%;
   display: flex;
   flex-direction: row;
   align-content: space-between;
   flex-wrap: wrap;
}

.nav-about {
   margin-right: 120px;
}

.nav-map {
   margin-right: 133px;
}

.nav-footer-list a {
   color: #000000;
   transition: all 0.5s ease;
}

.nav-footer-list a:hover {
   color: #70CB0E;
   transition: all 0.5s ease;
}

.footer-socials {
   width: 190px;
   height: 40px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.footer-socials img {
   cursor: pointer;
   width: 40px;
}

.cv {
   border-radius: 50%;
}

.footer-bottom {
   margin-top: 63px;
   display: flex;
   flex-direction: row;
   align-items: flex-end;
}

.rss-logo {
   margin-right: 57px;
}

.yem-logo {
   margin-right: 77px;
}

.footer-bottom h4 {
   font-style: normal;
   font-weight: normal;
}

.y20-21 {
   margin-right: 207px;
}
/* END footer */

@media (max-width: 1200px) {
   .footer-desert {
      background: url(../../assets/images/bg-footer-1200.png);
      top: -67px;
      left: -2px;
   }
}

@media (max-width: 1199px) {
   .header {
      width: 100%;
   }

   .header-logo {
      margin: 0 50px 0 20px;
   }

   main {
      overflow: hidden;
      /* overflow-x: auto; */
      height: 800px;
      justify-content: center;
   }

   .wrapper__zoom {
      display: flex;
      max-height: 800px;
      position: fixed;
      right: 20px;
      top: 700px;
   }

   .zoom {
      min-width: 30px;
      position: sticky;
      bottom: unset;
      top: 0;
   }

   .world-map {
      width: 933px;
      height: 600px;
   }

   .map figure {
      margin-left: 25px;
   }

   .USA {
      top: 401px;
      left: 183px;
   }

   .DRC {
      top: 532px;
      left: 423px;
      width: 61px;
      text-align: center;
   }

   .China {
      top: 417px;
      left: 687px;
   }

   .eagle {
      top: 411px;
      left: 72px;
   }

   .allig {
      top: 411px;
      left: 270px;
   }

   .gorilla {
      top: 490px;
      left: 550px;
   }

   .panda {
      top: 404px;
      left: 767px;
   }

   .tooltiptext {
      width: 160px;
      height: 84px;
      top: -17px;
      text-align: center;
   }

   .btn-tooltip-watch {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 147px;
      height: 40px;
      background: #FFB600;
      border-radius: 30px;
      position: absolute;
      left: calc(50% - 147px/2);
      top: 53px;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 21px;
      color: #000000;
   }

   /* footer */
   footer {
      height: 359px;
   }

   .footer {
      width: 640px;
      padding: 80px 20px 20px 20px;
      box-sizing: border-box;
      position: relative;
      overflow: hidden;
   }

   .footer-top {
      height: 83px;
   }

   .logo-footer {
      margin-right: 56px;
   }

   .btn-volont {
      width: 207px;
      height: 50px;
      position: absolute;
      right: 20px;
      top: 137px;
      margin-right: 0;
      margin-top: 50px;
   }

   .nav-footer {
      width: 190px;
      height: 57px;
      margin-right: 66px;
   }

   .nav-about {
      margin-right: 54px;
   }

   .nav-map {
      margin-right: 68px;
   }

   .footer-bottom {
      margin-top: 25px;
   }

   .rss-logo {
      margin-right: 75px;
   }

   .autor {
      position: absolute;
      bottom: 51px;
      left: 239px;
   }

   .y20-21 {
      margin: 0;
      position: absolute;
      text-align: center;
      left: 110px;
      bottom: 20px;
   }

   .footer-desert {
      display: none;
   }

   .footer-desert-640 {
      display: block;
      position: absolute;
      top: -44px;
      width: 640px;
   }
}

@media (width: 640px) {
   main {
      justify-content: unset;
   }

   .map {
      left: -171px;
   }
}

@media (max-width: 639px) {
   .header {
      justify-content: space-between;
      padding: 10px;
      box-sizing: border-box;
      justify-content: space-between;
   }

   .header-logo {
      margin-left: 0;
   }

   .nav {
      display: none;
   }

   .burger {
      display: block;
      width: 36px;
      height: 22px;
   }

   .map {
      left: 106px;
   }

   /* footer  */
   footer {
      height: max-content;
   }

   .footer {
      height: 742px;
      width: 100%;
      padding-left: 10px;
      padding-right: 10px;
   }

   .footer-desert-640 {
      width: 315.8px;
      top: -24px;
      left: -2px;
   }

   .footer-top {
      height: 419px;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
   }

   .logo-footer {
      margin: 0;
   }

   .nav-footer {
      width: 87px;
      height: 127px;
      margin: 0;
      text-align: center;
   }

   .nav-footer-list {
      flex-direction: column;
      justify-content: space-between;
   }

   .nav-about,
   .nav-map {
      margin: 0;
   }

   .nav-about {
      order: 1;
   }

   .nav-map {
      order: 2;
   }

   .nav-footer-list li:not(.nav-about, .nav-map) {
      order: 3;
   }

   .footer .btn-favorite {
      width: 207px;
      height: 50px;
      position: unset;
      order: 1;
      margin-top: 0;
   }

   .footer-socials {
      order: 2;
   }

   .footer-bottom {
      height: 173px;
      margin-top: 50px;
      flex-direction: column;
      align-items: center;
   }

   .rss-logo,
   .yem-logo {
      position: relative;
      margin: 0;
   }

   .rss-logo {
      left: -80px;
   }

   .yem-logo {
      top: -50px;
      left: 102px;
   }

   .autor {
      position: relative;
      left: 0;
      bottom: 42px;
   }

   .y20-21 {
      position: relative;
      width: 207px;
      left: 0;
      bottom: -32px;
   }

   .del-and {
      display: none;
   }

   /* END footer  */
}
