.wrapper {
   width: 100vw;
   background: #FFFFFF;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
}

main {
   width: 675px;
   max-height: 700px;
   position: relative;
   font-family: 'Bebas Neue', cursive;
   font-style: normal;
   font-weight: bold;
   margin: auto;
}

.figure__img {
   width: 100%;
}

p {
   font-size: 70px;
   line-height: 70px;
   color: #333333;
   position: absolute;
   top: 593px;
   left: 163px;
}

a {
   font-size: 20px;
   line-height: 20px;
   color: #59C3FB;
   position: absolute;
   bottom: 2px;
   left: 230px;
}

@media (max-width: 720px) {
   main {
      width: 550px;
      max-height: 582px;
   }

   p {
      top: 482px;
      left: 100px;
   }

   a {
      bottom: 0;
      left: 168px;
   }
}
